buildsystem/BINARY_FILES/*
buildsystem/aasdk/*
buildsystem/aasdk_build/*
buildsystem/gpio2kbd/*
buildsystem/openauto/*
buildsystem/openauto_build/*
buildsystem/qt*/*
buildsystem/qt*_build/*
buildsystem/usbreset/*
buildsystem/usbreset_build/*